<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <a href="/">
                <img src="/static/images/87390.png" alt="logo" style="width:42px;height:42px;">
            </a>
            <a href="/"><em>insta485</em></a>
            <p style="text-align:right;">
                <a href="/explore/">explore</a> | 
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </p>
        </header>
        <p>{{ logname }}</p>
        <form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account"/>
            <input type="hidden" name="operation" value="delete"/>
        </form>
    </body>
</html>
