<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="/static/images/87390.png"
          alt="logo"
          style="width: 42px; height: 42px"
        />
      </a>
      <a href="/"><em>insta485</em></a>
      <p style="text-align: right">
        <a href="/explore/">explore</a> |
        <a href="/users/{{ logname }}/">{{ logname }}</a>
      </p>
    </header>

    <!-- DO NOT CHANGE THIS -->
    <form
      action="/accounts/?target=/"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="password" name="password" required />
      <input type="password" name="new_password1" required />
      <input type="password" name="new_password2" required />
      <input type="submit" name="update_password" value="submit" />
      <input type="hidden" name="operation" value="update_password" />
    </form>

    <a href="/accounts/edit/"><b>Back to edit account</b></a> |
  </body>
</html>
